.card{  max-width:200px; 
        height:auto}

.deck{  
        position: absolute;
        max-width:240; 
        height:auto;
        vertical-align: middle;
padding-left: 25%}

.discard {
        background-color: green;
        width:240px; 
        height:330px;
        text-align: center;
        vertical-align: middle;
}

#rules {
        float: right;
}

.popover {
        max-width: 600px;}

ul {
        list-style-image: url("https://i.ibb.co/bdcQ9NM/Hnet-com-image-1.png");}

#imgs { 
         position: absolute;}

#header {
        padding-top: 2%;
}
/* .playAreaGroupTop {

} */