.card{  max-width:200; 
        height:auto}

.deck{  max-width:240; 
        height:auto}

.discard {
        background-color: green;
        width:240px; 
        height:330px;
        text-align: center;
        vertical-align: middle;
}

 #imgs { position: absolute;

}

