.card{  max-width:200; 
        height:auto}

.deck{  max-width:240; 
        height:auto}

.discard {
        background-color: green;
        width:240px; 
        height:330px;
        text-align: center;
        vertical-align: middle;
}
.popover {
        max-width: 600px;}

ul {
        list-style-image: url("https://i.ibb.co/bdcQ9NM/Hnet-com-image-1.png");}

#imgs { 
         position: absolute;}

