.card{  max-width:200px; 
        height:auto}
html {
        background-color: #4a9915;
}
.container 
{
        height: 60em;
        width: 40em;
        background:#fff;
}

.content
{
        font-size: 24px;
        height:31em;
        display:inline-block;
        padding:5%;
        overflow:auto;
        background:#fff;
}

.row 
{
        padding: 10px;
}

.discard {
        background-color: #4a9915;
        width:240px; 
        height:330px;
        text-align: center;
        vertical-align: middle;
}

#rules {
        float: right;
}

.popover {
        max-width: 600px;}

ul {
        list-style-image: url("https://i.ibb.co/bdcQ9NM/Hnet-com-image-1.png");}

#imgs { 
         position: absolute;}

#header {
        padding-top: 2%;
}
/* .playAreaGroupTop {

} */